<link src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>


{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools class="navbar"}}
    <h1>TO DO</h1>
    <span class="flex"></span>

    {{#link-to 'settings'}}
      {{#paper-button raised=true}}
        Settings
      {{/paper-button}}
    {{/link-to}}
  {{/toolbar.tools}}
{{/paper-toolbar}}



<div class="layout-row layout-align-space-around-center spacing">

<!-- Todo div -->
  <div class="borderbox">
    <!-- <div class="scroll-div"> -->
      {{#paper-card class="headers" as |card|}}
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}}TO DO  ({{todoTasks.length}})
              {{#paper-button class="add-btn" onClick=(action "toggleModal")}}{{#paper-icon "playlist_add" size=36}}{{/paper-icon}}{{/paper-button}}
            {{/text.headline}}
          {{/title.text}}
        {{/card.title}}
        <!-- {{#card.content class="layout-row layout-align-space-between"}}
          {{#card.media size="sm"}}
          {{/card.media}}
        {{/card.content}} -->
      {{/paper-card}}

    <div class="scroll-div">
      {{#paper-list}}
        {{#each todoTasks as |task|}}
          {{#draggable-object content=task}}
            {{#paper-card class="todocards" as |card|}}
              {{#paper-item onClick=(action "setSelectedTask" task) class="md-3-line card"}}
              <!-- SHOW TASK -->
                     {{#if isShowingDialog}}
                       {{#modal-dialog onClose="toggleDialog"
                                                targetAttachment="center"
                                                translucentOverlay=true}}
                          <div class="popup">
                             <h3>{{selectedTask.description}}</h3>
                             <p>Type: {{selectedTask.tasktype.name}}</p>
                             <h4>Assigned to: {{selectedTask.user.name}}</h4>
                          </div>
                       {{/modal-dialog}}
                     {{/if}}
              <!-- END SHOW TASK -->
                <div class="md-list-item-text">
                  <h3>{{task.id}}-{{task.description }}</h3>
                  <p>Type: {{task.tasktype.name }}</p>
                  <h4>Assigned to: {{task.user.name }}</h4>
                </div>
                {{#paper-button onClick=(action "setSelectedTask" task)}}{{#paper-icon "visibility"}}{{/paper-icon}}{{/paper-button}}
                {{paper-divider}}
                <!-- {{#paper-button}}EDIT{{/paper-button}}
                {{#paper-button}}DELETE{{/paper-button}} -->
              {{/paper-item}}
            {{/paper-card}}
          {{/draggable-object}}
        {{/each}}
      {{/paper-list}}
    </div>
  </div>
<!-- END todo div -->


<!-- IN PROGRESS -->
  <div class="borderbox">

      {{#paper-card class="headers" as |card|}}
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}}IN PROGRESS ({{progressTasks.length}}){{/text.headline}}
          {{/title.text}}
        {{/card.title}}
        {{#card.content class="layout-row layout-align-space-between"}}
        {{/card.content}}
      {{/paper-card}}

<div class="scroll-div">
      {{#draggable-object-target action="updateStatus" status="progress"}}
        {{#paper-list}}
          {{#each progressTasks as |task|}}
            {{#draggable-object content=task}}
              {{#paper-card class="inpcards" as |card|}}
                {{#paper-item onClick=(action "setSelectedTask" task) class="md-3-line"}}
                <!-- SHOW TASK -->
                       {{#if isShowingDialog}}
                         {{#modal-dialog onClose="toggleDialog"
                                                  targetAttachment="center"
                                                  translucentOverlay=true}}
                            <div class="popup">
                               <h3>{{selectedTask.description}}</h3>
                               <p>Type: {{selectedTask.tasktype.name}}</p>
                               <h4>Assigned to: {{selectedTask.user.name}}</h4>
                            </div>
                         {{/modal-dialog}}
                       {{/if}}
                <!-- END SHOW TASK -->
                  <div class="md-list-item-text">
                    <h3>{{task.id}}-{{task.description }}</h3>
                    <p>Type: {{task.tasktype.name }}</p>
                    <h4>Assigned to: {{task.user.name }}</h4>
                  </div>
                  {{#paper-button onClick=(action "setSelectedTask" task)}}{{#paper-icon "visibility"}}{{/paper-icon}}{{/paper-button}}
                  {{paper-divider}}
                {{/paper-item}}
              {{/paper-card}}
            {{/draggable-object}}
          {{/each}}
        {{/paper-list}}
      {{/draggable-object-target}}
    </div>
  </div>
<!-- END IN PROGRESS -->


<!-- DONE -->
 <div class="borderbox">
    {{#draggable-object-target action="updateStatus" status="done"}}

       {{#paper-card class="headers" as |card|}}
         {{#card.title as |title|}}
           {{#title.text as |text|}}
             {{#text.headline}}DONE ({{doneTasks.length}}){{/text.headline}}
           {{/title.text}}
         {{/card.title}}
         {{#card.content class="layout-row layout-align-space-between"}}
         {{/card.content}}
       {{/paper-card}}

  <div class="scroll-div">
       {{#paper-list}}
         {{#each doneTasks as |task|}}
           {{#paper-card class="donecards" as |card|}}
             {{#paper-item onClick=(action "setSelectedTask" task) class="md-3-line"}}
         <!-- SHOW TASK -->
                {{#if isShowingDialog}}
                  {{#modal-dialog onClose="toggleDialog"
                                           targetAttachment="center"
                                           translucentOverlay=true}}
                     <div class="popup">
                        <h3>{{selectedTask.description}}</h3>
                        <p>Type: {{selectedTask.tasktype.name}}</p>
                        <h4>Assigned to: {{selectedTask.user.name}}</h4>
                     </div>
                  {{/modal-dialog}}
                {{/if}}
         <!-- END SHOW TASK -->
                <div class="md-list-item-text">
                  <h3>{{task.id}}-{{task.description }}</h3>
                  <p>Type: {{task.tasktype.name }}</p>
                  <h4>Assigned to: {{task.user.name }}</h4>
                  <span class="flex"></span>
                </div>
                {{#paper-button onClick=(action "setSelectedTask" task)}}{{#paper-icon "visibility"}}{{/paper-icon}}{{/paper-button}}
                {{#paper-button onClick=(action "deleteTask" task.id) iconButton=true}}{{#paper-icon "delete"}}{{/paper-icon}}{{/paper-button}}
                {{paper-divider}}
             {{/paper-item}}
           {{/paper-card}}
         {{/each}}
       {{/paper-list}}
      </div>
    {{/draggable-object-target}}
  </div>
<!-- END DONE -->



  {{#if isShowingModal}}
      <div class="layout-row layout-align-center">
        {{#modal-dialog onClose="toggleModal"
                        targetAttachment="center"
                        translucentOverlay=true}}

            {{#paper-form as |form|}}
              <div class="layout-column">

                {{form.input label="Description" value=taskDescription onChange=(action (mut taskDescription)) required=true}}

                {{#form.select
                  placeholder="Assign to a user"
                  selected=selectedUser
                  options=users
                  onChange=(action (mut selectedUser))
                  as |user|}}
                  {{user.name}}
                {{/form.select}}

                {{#form.select
                  placeholder="Type of Tasks"
                  selected=selectedTaskType
                  options=tasktypes
                  onChange=(action (mut selectedTaskType))
                  as |tasktype|}}
                  {{tasktype.name}}
                {{/form.select}}


              </div>

              {{#paper-button onClick=(action "addTask" taskDescription selectedUser.id selectedTaskType.id)}}Create Task{{/paper-button}}
              {{#paper-button onClick=(action "toggleModal")}}Cancel{{/paper-button}}
            {{/paper-form}}
        {{/modal-dialog}}
      </div>
  {{/if}}





  <!-- {{#each tasks as |task|}}
  {{/each}}

  {{#each users as |user|}}
  {{/each}} -->
</div>
