<!-- HOME PAGE -->

<!-- NAVBAR -->
{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools class="navbar"}}
    <h1>TO DO</h1>
    <span class="flex"></span>
    {{#link-to 'settings'}}
        SETTINGS{{#paper-icon "keyboard_arrow_right" size=36}}{{/paper-icon}}
    {{/link-to}}
  {{/toolbar.tools}}
{{/paper-toolbar}}
<!-- END NAVBAR -->


<div class="layout-row layout-align-space-around-center spacing">

<!-- Todo div -->
  <div class="borderbox">
      {{#paper-card class="headers" as |card|}}
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}}TO DO  ({{todoTasks.length}})
              {{#paper-button class="add-btn" onClick=(action "toggleModal")}}{{#paper-icon "playlist_add" size=36}}{{/paper-icon}}{{/paper-button}}
            {{/text.headline}}
          {{/title.text}}
        {{/card.title}}
      {{/paper-card}}

    <div class="scroll-div">

<!-- SHOW TASK -->
     {{#if isShowingTodo}}
       {{#paper-dialog class="flex-30" onClose=(action "toggleTodo") clickOutsideToClose=true}}
            {{#paper-toolbar}}
              {{#paper-toolbar-tools class="navbar"}}
                <h2>Task Details</h2>
                <span class="flex"></span>
                {{#paper-button iconButton=true onClick=(action "toggleTodo" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
              {{/paper-toolbar-tools}}
            {{/paper-toolbar}}
            {{#paper-dialog-content}}
                <h3>Task description: {{selectedTask.description}}</h3>
                <p>Assigned to: {{selectedTask.user.name}}</p>
                <p>TaskType: {{selectedTask.tasktype.name}}</p>
            {{/paper-dialog-content}}
        {{/paper-dialog}}
      {{/if}}
<!-- END SHOW TASK -->

      {{#paper-list}}
        {{#each todoTasks as |task|}}
          {{#draggable-object content=task}}
            {{#paper-card class="todocards" as |card|}}
              {{#paper-item onClick=(action "setSelectedTask" task 'isShowingTodo') class="md-3-line card"}}
                <div class="md-list-item-text">
                  <h3>{{task.id}}. {{task.description }}</h3>
                  <p>Type: {{task.tasktype.name }}</p>
                  <h4>Assigned to: {{task.user.name }}</h4>
                  <h3>{{task.createdAt}}</h3>
                </div>
                {{#paper-button onClick=(action "setSelectedTask" task 'isShowingTodo')}}{{#paper-icon "visibility"}}{{/paper-icon}}{{/paper-button}}
                {{paper-divider}}
              {{/paper-item}}
            {{/paper-card}}
          {{/draggable-object}}
        {{/each}}
      {{/paper-list}}
    </div>
  </div>
<!-- END todo div -->


<!-- IN PROGRESS -->
  <div class="borderbox">

      {{#paper-card class="headers" as |card|}}
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}}IN PROGRESS ({{progressTasks.length}}){{/text.headline}}
          {{/title.text}}
          {{#paper-icon "rotate_right" size=36}}{{/paper-icon}}
        {{/card.title}}
        {{#card.content class="layout-row layout-align-space-between"}}
        {{/card.content}}
      {{/paper-card}}

<div class="scroll-div">

  <!-- SHOW TASK -->
       {{#if isShowingProgress}}
         {{#paper-dialog class="flex-30" onClose=(action "toggleProgress") clickOutsideToClose=true}}
            {{#paper-toolbar}}
              {{#paper-toolbar-tools class="navbar"}}
                <h2>Task Details</h2>
                <span class="flex"></span>
                {{#paper-button iconButton=true onClick=(action "toggleProgress" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
              {{/paper-toolbar-tools}}
            {{/paper-toolbar}}
            {{#paper-dialog-content}}
                <h3>Task description: {{selectedTask.description}}</h3>
                <p>Assigned to: {{selectedTask.user.name}}</p>
                <p>TaskType: {{selectedTask.tasktype.name}}</p>
            {{/paper-dialog-content}}
         {{/paper-dialog}}
       {{/if}}
  <!-- END SHOW TASK -->

      {{#draggable-object-target action="updateStatus" status="progress"}}
        {{#paper-list}}
          {{#each progressTasks as |task|}}
            {{#draggable-object content=task}}
              {{#paper-card class="inpcards" as |card|}}
                {{#paper-item onClick=(action "setSelectedTask" task 'isShowingProgress') class="md-3-line"}}
                  <div class="md-list-item-text">
                    <h3>{{task.id}}. {{task.description }}</h3>
                    <p>Type: {{task.tasktype.name }}</p>
                    <h4>Assigned to: {{task.user.name }}</h4>
                  </div>
                  {{#paper-button onClick=(action "setSelectedTask" task 'isShowingProgress')}}{{#paper-icon "visibility"}}{{/paper-icon}}{{/paper-button}}
                  {{paper-divider}}
                {{/paper-item}}
              {{/paper-card}}
            {{/draggable-object}}
          {{/each}}
        {{/paper-list}}
      {{/draggable-object-target}}
    </div>
  </div>
<!-- END IN PROGRESS -->


<!-- DONE -->
 <div class="borderbox">
    {{#draggable-object-target action="updateStatus" status="done"}}

       {{#paper-card class="headers" as |card|}}
         {{#card.title as |title|}}
           {{#title.text as |text|}}
             {{#text.headline}}DONE ({{doneTasks.length}}){{/text.headline}}
           {{/title.text}}
           {{#paper-icon "done_all" size=36}}{{/paper-icon}}
         {{/card.title}}
         {{#card.content class="layout-row layout-align-space-between"}}
         {{/card.content}}
       {{/paper-card}}

  <div class="scroll-div">

    <!-- SHOW TASK -->
         {{#if isShowingDone}}
           {{#paper-dialog class="flex-30" onClose=(action "toggleDone") clickOutsideToClose=true}}
              {{#paper-toolbar}}
                {{#paper-toolbar-tools class="navbar"}}
                  <h2>Task Details</h2>
                  <span class="flex"></span>
                  {{#paper-button iconButton=true onClick=(action "toggleDone" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
                {{/paper-toolbar-tools}}
              {{/paper-toolbar}}
              {{#paper-dialog-content}}
                  <h3>Task description: {{selectedTask.description}}</h3>
                  <p>Assigned to: {{selectedTask.user.name}}</p>
                  <p>TaskType: {{selectedTask.tasktype.name}}</p>
              {{/paper-dialog-content}}
            {{/paper-dialog}}
          {{/if}}
    <!-- END SHOW TASK -->

         {{#paper-list}}
           {{#each doneTasks as |task|}}
             {{#paper-card class="donecards" as |card|}}
               {{#paper-item onClick=(action "setSelectedTask" task 'isShowingDone') class="md-3-line"}}
                  <div class="md-list-item-text">
                    <h3>{{task.id}}. {{task.description }}</h3>
                    <p>Type: {{task.tasktype.name }}</p>
                    <h4>Assigned to: {{task.user.name }}</h4>
                    <span class="flex"></span>
                  </div>
                  {{#paper-button onClick=(action "setSelectedTask" task 'isShowingDone')}}{{#paper-icon "visibility"}}{{/paper-icon}}{{/paper-button}}
                  {{#paper-button onClick=(action "deleteTask" task.id) iconButton=true}}{{#paper-icon "delete"}}{{/paper-icon}}{{/paper-button}}
                  {{paper-divider}}
               {{/paper-item}}
             {{/paper-card}}
           {{/each}}
         {{/paper-list}}
        </div>
      {{/draggable-object-target}}
    </div>
<!-- END DONE -->


<!-- ADD TASK DIALOG -->
  {{#if isShowingModal}}
      {{#paper-dialog class="flex-20" onClose=(action "toggleModal") clickOutsideToClose=true}}

              {{#paper-toolbar}}
                {{#paper-toolbar-tools class="navbar"}}
                  <h2>Add a new task</h2>
                  <span class="flex"></span>
                  {{#paper-button iconButton=true onClick=(action "toggleModal" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
                {{/paper-toolbar-tools}}
              {{/paper-toolbar}}

              {{#paper-dialog-content}}
              <div class="layout-column">

                {{validated-input  label="Description"
                                   value=newTask.description
                                   onChange=(action (mut newTask.description))
                                   model=newTask
                                   didValidate=didValidate
                                   valuePath='description'}}

                {{#paper-select
                  placeholder="Assign to a user"
                  selected=newTask.user
                  options=users
                  onChange=(action (mut newTask.user))
                  as |user|}}
                  {{user.name}}
                {{/paper-select}}

                {{#paper-select
                  placeholder="Type of Tasks"
                  selected=newTask.tasktype
                  options=tasktypes
                  onChange=(action (mut newTask.tasktype))
                  as |tasktype|}}
                  {{tasktype.name}}
                {{/paper-select}}

                <!-- <button class="date-btn" {{action "togglePika"}}>Due date</button>
                 {{#if showPika}}
                     {{pikaday-input value=selectedDate onSelection=(action (mut selectedDate)) placeholder="Due date" useUTC=true}}
                 {{/if}} -->

              </div>
              {{/paper-dialog-content}}

              {{#paper-dialog-actions}}
                {{#paper-button onClick=(action "addTask" newTask)}}Create Task{{/paper-button}}
                <span class="flex"></span>
                {{#paper-button onClick=(action "toggleModal")}}Cancel{{/paper-button}}
              {{/paper-dialog-actions}}

        {{/paper-dialog}}
  {{/if}}
<!-- END ADD TASK -->

</div>
