<!-- {{#each users as |user|}}
 <p>{{user.name}}</p>
{{/each}}

<p>
  {{paper-input label="User name" value=name onChange=(action (mut name)) icon="person"}}
</p> -->

{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools class="navbar"}}
    <h1>SETTINGS</h1>

  {{/toolbar.tools}}
{{/paper-toolbar}}

<div class="layout-row layout-align-space-around-center spacing">

<div class="borderbox">

  {{#paper-card class="layout row layout-align-center-center setthead" as |card|}}
<h2>Users</h2>
{{/paper-card}}

    <div class="scroll-div">
      {{#paper-list}}
        {{#each users as |user|}}
        {{#paper-card class="users" as |card|}}
            {{#paper-item}}
                 <h3>{{user.id}}. {{user.name }}</h3>
                <span class="flex"></span>
                 {{#paper-button onClick=(action "deleteUser" user.id) iconButton=true}}{{#paper-icon "delete"}}{{/paper-icon}}{{/paper-button}}
            {{paper-divider}}
            {{/paper-item}}
            {{/paper-card}}
        {{/each}}
      {{/paper-list}}



      <!-- {{paper-input label="User name" value=userName onChange=(action (mut userName)) required=true icon="person"}} -->
      <!-- {{#paper-button onClick=(action "addUser" userName)}}+{{/paper-button}} -->

     </div>
     <div class="layout row layout-align-center-center">

           {{paper-input label="User name" value=userName onChange=(action (mut userName)) required=true icon="person"}}
           {{#paper-button onClick=(action "addUser" userName)}}+{{/paper-button}}
     </div>
</div>





<div class="borderbox">
  {{#paper-card class="layout row layout-align-center-center setthead" as |card|}}
<h2>Task types</h2>
{{/paper-card}}
       <div class="scroll-div">
      {{#paper-list}}
        {{#each tasktypes as |tasktype|}}
        {{#paper-card class="taskt" as |card|}}
            {{#paper-item}}

                 <h3>{{tasktype.id}}. {{tasktype.name }}</h3>
                 <span class="flex"></span>
                  {{#paper-button onClick=(action "deleteTaskType" tasktype.id) iconButton=true}}{{#paper-icon "delete"}}{{/paper-icon}}{{/paper-button}}
            {{paper-divider}}
            {{/paper-item}}
            {{/paper-card}}
        {{/each}}
      {{/paper-list}}
</div>
<div class="layout row layout-align-center-center">
       {{paper-input label="Task type" value=tasktype onChange=(action (mut tasktype)) required=true}}
       {{#paper-button onClick=(action "addTaskType" tasktype)}}+{{/paper-button}}
</div>
   </div>

 </div>
